.tile {
  display: inline-block;
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  padding: 1rem;
  margin: 0.1rem;
  border: 1px solid black;
  border-radius: 5%;
  background-color: antiquewhite;
  color: green;
  font-size: 2.6rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tile:hover {
  transform: scale(1.1);
}

.tile__letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -55%);
}

.tile__letter--double {
  transform: translate(-60%, -55%) scaleX(0.65);
}

.tile__letter-score {
  position: relative;
  left: 1rem;
  top: -0.3rem;
  font-size: 1.2rem;
}

.tile__bonus-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.55rem;
  color: black; 
}

.tile__bonus-state {
  position: absolute;
  right: 0.2rem;
  top: 2.4rem;
  font-size: 33%;
  color: black;
}
